<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="random"
         failOnWarning="true"
         failOnRisky="true"
         failOnEmptyTestSuite="false"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Fixtures">
            <directory>tests/Fixtures</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>tests/Core</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>tests/Api</directory>
        </testsuite>
        <testsuite name="Filament">
            <directory>tests/Filament</directory>
        </testsuite>
        <testsuite name="FilamentMapbox">
            <directory>tests/FilamentMapbox</directory>
        </testsuite>
        <testsuite name="FilamentViewerJs">
            <directory>tests/FilamentViewerJs</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/haykal-core/src</directory>
            <directory>packages/haykal-api/src</directory>
            <directory>packages/haykal-filament/src</directory>
            <directory>packages/filament-mapbox/src</directory>
            <directory>packages/filament-viewerjs/src</directory>
        </include>
    </source>
</phpunit>
